@font-face {
    font-family: 'MonumentExtended-Ultrabold';
    src: url('./fonts/MonumentExtended-Ultrabold.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'MonumentExtended-Regular';
    src: url('./fonts/MonumentExtended-Regular.otf') format('opentype');
  }



$color-dark-background: #0D0D0D;
$color-text: #e1e1e1;
$color-highlight: #ffffff;
$color-accent: #7547F8;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;

}
@media(prefers-reduced-motion:no-preference) {
    :root {
        scroll-behavior: smooth
    }
}
::selection {
    background-color: $color-accent;
    color: #FFFFFF;
    padding: 0 1rem;

}
#circle {
    position: absolute;
    background-color: #b6a4e6 ;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    mix-blend-mode: exclusion   ;
    backdrop-filter: blur(3px);
    pointer-events: none;
    // filter: blur(20px);
    // opacity: 0.2;
    // &:hover{
    //     filter: blur(20px);
    // }

    @media screen and (max-width:1024px) {
        display: none;
    }
}

body{
    background-color: $color-dark-background;
    color: $color-text;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    position: relative;
    scroll-behavior: smooth;

}
h1{
    font-family: 'Poppins', sans-serif;
    color:$color-text;
    font-weight: 300;
    transition: color 0.5s ease-in-out;
    &:hover{
        color: $color-highlight;
        transform: translateY(1rem);
        transition: transform  0.5s ease;
    }
}
h2{
    font-family: 'Poppins', sans-serif;
}
h3{
    font-family: 'Poppins', sans-serif;
}
h4{
    font-family: 'Poppins', sans-serif;
}
p{
    font-family: 'Poppins', sans-serif;
}

.audio{
    z-index: 10;
    position: fixed;
  bottom: 50px;
  right:  50px;
  @media screen and (max-width:1350px) {
    bottom: 20px;
  right:  20px;
  }
    #toggleButton.active {
        background-color: $color-accent;
        padding: 1rem;
        color: white;
        border: none;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        transition: all 0.5s ease-out;
        &:hover{
            transform: translateX(1rem);
            transition: all 0.5s ease-out;
        }
    }
    #toggleButton.inactive {
        background-color: #949494;
        padding: 1rem;
        color: white;
        border: none;
        border-radius: 50%;
        width: 50px; 
        height: 50px;
        transition: all 0.5s ease-out;
        &:hover{
            transform: translateX(1rem);
            transition: all 0.5s ease-out;
        }
    }
    #volumeRange{
        transform: rotate(-90deg) translateX(2rem);
    }
    .volume-container {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100px;
        height: 150px;
      }
      
      .volume-container label {
        transform: rotate(-90deg);
        writing-mode: vertical-rl;
      }
      
      #volumeRange {
        transform: rotate(270deg);
        writing-mode: vertical-rl;
        height: 100px;
        appearance: slider-vertical;
      }
}

.picture_logo{
    position: fixed;
    z-index: 10;
    transition: all 0.5s ease-out;
    left: 50px;
    top: 50px;
    @media screen and (max-width:1350px) {
        width: 50px;
        height: auto;
        left: 20px;
        top: 20px;
    }
    &:hover{
        transform: translateX(1rem);
        transition: all 0.5s ease-out;
    }
}

.nav {
    display: flex;
    flex-direction: column;
 z-index: 10;
 font-family: 'Poppins', sans-serif;
 position: fixed;
 right: 50px;
 top: 50px;
 @media screen and (max-width:1350px) {
    right: 20px;
    top: 30px;
    flex-direction: column;
    gap: 0.5rem;
}

 a{
     font-size: 1rem;
     color: $color-highlight;
     font-weight: 600;
     text-decoration: none;
     transition: all 0.5s ease-out;
    &:hover{
        color: $color-accent;
        transform: translateX(1rem);
        transition: all 0.5s ease-out;
    }
    @media screen and (max-width:1350px) {
        font-size: 0.8rem;
    }
 }
}

.accent{
    color: $color-accent;
}
.content{
    padding: 10rem 0.5;
    width: 80%;
    padding: 1rem;
    margin: 0 auto;
  
    @media screen and (max-width:1350) {
        width: 100%;
       
    }
}
.hero{
    text-align: center;
    display: flex;
   justify-content: center;
   align-items: center;
    height: 100vh;
    flex-direction: column;
    padding: 10rem 1rem;
    @media screen and (max-width:1350px) {
        padding: 10rem 0.5rem;
        height: 100%;
    }
    .hero-title{
        font-family: 'MonumentExtended-Ultrabold', Arial, sans-serif ;
        margin: 0;
        text-align: center;
        font-size: 5rem;
        max-width: 60ch;
        transition: color 0.5s ease-in-out;
        
        z-index: 0;
        
        &:hover{
            color: $color-accent;
            transition: color 0.5s ease;
        }

        @media screen and (max-width:1350px) {
            font-size: 2rem;
            max-width: 100%;
        }
    }
    .hero-title2{
        font-family: 'MonumentExtended-Ultrabold', Arial, sans-serif ;
        margin: 0;
        text-align: center;
        font-size: 100px;
        max-width: 60ch;
        transition: color 0.5s ease-in-out;
        
        z-index: 4;
        
        &:hover{
            color: $color-accent;
            transition: color 0.5s ease;
        }
        @media screen and (max-width:1350px) {
            font-size: 2rem;
            max-width: 100%;
        }
    }
}

.about{
    text-align: left;
    display: flex;
   justify-content: flex-start;
   align-items: flex-start;
    height: 150%;
    flex-direction: column;
    padding: 10rem 1rem;
    @media screen and (max-width:1350px) {
        padding: 9rem 0;
    }
    h2{
        font-weight: 300;
    }
    p{
        font-size: 80px;
        line-height: 110%;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        @media screen and (max-width:1350px) {
            font-size: 2rem;
            width: 100%;
        }
    }
}

.what_i_do{
    text-align: left;
    display: flex;
   justify-content: flex-start;
   align-items: flex-start;
    height: 150%;
    flex-direction: column;
    padding: 10rem 1rem;
    z-index: 10;
    @media screen and (max-width:1350px) {
        width: 100%;
        padding: 5rem 0;
    }
    h2{
        font-weight: 300;
    }
    .skill{
        text-decoration: none;
        font-family: 'MonumentExtended-Ultrabold', Arial, sans-serif ;
        font-size: 100px;
        color:$color-text;
        text-decoration: non;
        z-index: 10;
        transition: transform 0.3s ease-out;
        margin-bottom: 2rem;
        @media screen and (max-width:1350px) {
            font-size: 2rem;
            width: 100%;
            margin-bottom: 2rem;
        }
        &:hover{
            color:$color-accent; 
            transform: translateX(20px);
            transition: transform 0.2s ease-out;
        }
    }
}
.experience{
    padding: 10rem 1rem;
    @media screen and (max-width:1350px) {
        padding: 10rem 0rem;
    }
    h2{
        font-weight: 300;
    }
    p{
        font-size: 80px;
        line-height: 110%;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        @media screen and (max-width:1350px) {
            font-size: 2rem;
            width: 100%;
            margin-bottom: 2rem;
        }
    }

    .card-enxperience{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 8rem;
        z-index: 4;
        padding: 40px;
        border-bottom: solid #878787 1px;
        @media screen and (max-width:1350px) {
            gap: 0.5rem;
            flex-direction: column;
            padding: 1rem;
        }
        .time{
           
        }
        .position{
            
        }
        h5{
            font-family: 'Poppins', sans-serif;
            font-size: 48px;
            @media screen and (max-width:1350px) {
                font-size: 2rem;  
            }
        }
        p{
            font-family: 'Poppins', sans-serif; 
            font-size: 36px;
            font-weight: 300;
            @media screen and (max-width:1350px) {
                font-size: 1rem;  
            }
        }
    }
    
}

footer{
    z-index: 10;
    padding: 10rem 1rem;
    .list_container{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: space-between;
        align-items: flex-start;
        @media screen and (max-width:1350px) {
            flex-direction: column;
            gap: 4rem;
        }
    }
    .list_my_work{
        display: flex;
        flex-direction: column;
        z-index: 10;
    }
    .list_content{
        display: flex;
        flex-direction: column;
        z-index: 10;
    }
    .list_contact{
        display: flex;
        flex-direction: column;
        z-index: 10;
        h5{
            font-size: 40px;
            font-weight: 600;
            @media screen and (max-width:1350px) {
                font-size: 2rem; 
            }
        }
        a{
            font-size: 28px;
            font-weight: 300;
            text-decoration: none;
            @media screen and (max-width:1350px) {
                font-size: 1rem; 
            }
        }
    }
    h2{
        font-weight: 300;
    }
    a{
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 48px;
        color:$color-text;
        text-decoration: non;
        z-index: 10;
        transition: transform 0.5s ease-out;
        @media screen and (max-width:1350px) {
            font-size: 2rem; 
        }
        &:hover{
            color:$color-accent; 
            transform: translateX(20px);
            transition: transform 0.3s ease-out;
        }
    }
}
